.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 0 15px;
}

.header__logo {
    width: 260px;
    height: 100px;
}

.header__btn-login {
    background: transparent center no-repeat url("./../../images/enter.svg");
    background-size: auto;
    width: 50px;
    height: 50px;
    border: none;
}

.header__btn-login:hover {
    background: transparent center no-repeat url("./../../images/enter-hover.svg");
    cursor: pointer;
}